<div class="content">
  <nav  class="navbar navbar-light bg-light">
    <a class="navbar-brand mb-0 h1">WebApp</a>
    <ul class="nav nav-pills">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['activated']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list']" [routerLinkActive]="['activated']">Listar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/add']" [routerLinkActive]="['activated']">Nuevo</a>
      </li>
    </ul>
  </nav>
  <section id="main" class="col-lg-12">
    <!-- Componente actual -->
    <router-outlet></router-outlet>
  </section>
  <footer id="footer" class="col-lg-12">
    <p>Pie de página AppWeb en Angular 5</p>
  </footer>
</div>
